@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url('https://img.freepik.com/free-photo/airport-terminal_1417-1456.jpg?w=2000&t=st=1705813374~exp=1705813974~hmac=edf404dd82a02410392ba392b2253c0ab535f8d4b212831579c6a97f85184a6c');
  background-size: cover;
  background-position: center center;
  background-repeat: repeat-y;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.airport {
  width: 80%;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.airport-name {
  background-color: rgb(65, 148, 243);
  padding: 1rem;
  color: #fff;
}
.mini-container {
  margin: 1rem;
}
.mini-title {
  text-align: left;
  padding: 0.5rem;
  background-color: rgb(239, 241, 245);
}
.mini-info {
  padding: 0.5rem;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: rgb(65, 148, 243);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
